<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_425_Assignment_1.My.MySettings.sakilaConnectionString"
            connectionString="server=141.209.241.47;user id=bis425c2g3;password=firstpass;persistsecurityinfo=True;database=sakila"
            providerName="MySql.Data.MySqlClient" />
        <add name="_425_Assignment_1.My.MySettings.sakilaConnectionString1"
            connectionString="server=141.209.241.47;user id=bis425c2g3;database=sakila"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>